.app {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.header,
.footer {
    background: #111;
    color: white;
}

.content {
    background: white;
    margin-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-link {
    color: white;
    text-decoration-line: none;
    padding-left: 20px;
}

h1, h2 {
    text-align: center;
}

.artists {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 20%);
}

.artists-artist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.artist-name, .artist-genres, .track-name, .track-genres {
    margin: 5px;
}

.tracks {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
}

.tracks-track {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.track-image {
    width: 150px;
    height: 150px;
}

.track-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin: 20px 0px;
}

.footer-navBlock {
    display: flex;
    flex-direction: column;
}

.footer-heading {
    color: #666;
    font-size: 12px;
    margin-bottom: 0;
}

.footer-languages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.search {
    padding-top: 20px;
    text-align: center;
}

.search-artists, .search-albums {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-content: center;
}

.search-artists-artist, .search-albums-album {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.search-artist-info, .search-album-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.search-artist-name, .search-artist-listeners, .search-album-name, .search-album-artist {
    color: white;
    margin: 0;
}

.search-artist-name, .search-album-name {
    font-size: 17px;
}

.search-tracks {
    display: flex;
    flex-direction: column;
}

.search-tracks-track {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
    align-items: center;
}

.search-track-image {
    width: 25px;
    height: 25px;
}